
        <template>
            <form>
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input value.bind="user.fname" type="text" class="form-control" id="fname"
                        aria-describedby="fnameHelp" placeholder="Enter first name">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input value.bind="user.lname" type="text" class="form-control" id="lname"
                        aria-describedby="lnameHelp" placeholder="Enter last name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail">Email address</label>
                    <input input value.bind="user.email" type="email" class="form-control" id="exampleInputEmail"
                        aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input input value.bind="user.password" type="password" class="form-control" id="exampleInputPassword"
                        placeholder="Password">
                </div>
                    <button class="btn btn-primary" click.trigger="save()">Save</button>
            </form>
        </template>